/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, sass/qabank.scss */
#content fieldset.qabank-fieldset {
  border-width: 0;
}

/* line 28, sass/qabank.scss */
.answer-title {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding: 10px;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 20px;
  background-color: #c6c6c6;
}

/* line 35, sass/qabank.scss */
.answer-text {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  padding: 10px;
  margin-top: 3px;
}

/* line 42, sass/qabank.scss */
.question-listing {
  padding: 20px;
  border-bottom: 1px solid #ededed;
  display: block;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 20px;
}
