/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, sass/qabank.scss */
#content fieldset.qabank-fieldset {
  border-width: 0;
}

/* line 22, sass/qabank.scss */
.answer-title {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  padding: 10px;
  background-color: #c6c6c6;
}

/* line 28, sass/qabank.scss */
.answer-text {
  -webkit-box-shadow: 2px 0px 5px grey;
  -moz-box-shadow: 2px 0px 5px grey;
  box-shadow: 2px 0px 5px grey;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  padding: 10px;
  margin-top: 3px;
}
